= @controllers.inspect
%ul.nav.nav-tabs
  - @controllers.each_with_index do |controller, i|
    %li
      %a{"data-toggle" => "tab", :href => "#tab-#{controller.model}"}
        = controller.model

.tab-content
  - @controllers.each_with_index do |controller, i|
    .tab-pane.fade{:id => "tab-#{controller.model}"}
      .hide
        = button_to "refresh", {controller: controller.controller_path, action: :index},
                  method: :get, remote: true, class: ["btn", "btn-success", "btn-refresh", "hide"]
      #table-container{controller: controller.controller_path}

.modal.fade{:id => "modal", "aria-labelledby" => "model-title", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title{:id => "model-title"} Modal title
      .modal-body

:javascript
  $(function() {
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
      var tabId = $(e.target).attr('href');
      $(tabId).find(".btn-refresh").first().click();
    }).each(function(i){
      if (i == 0){
        $(this).tab('show')
      }
    })
  });
