-# = simple_form_for @entry, remote: true do |f|
-#   = f.input  :description, as: :text
-#   = f.input  :deadline,    as: :datetimepicker
-#   = f.button :submit

modal!!!
-# .modal.fade{:id => "model-#{table_name}", "aria-labelledby" => "model-#{table_name}-title", :role => "dialog", :tabindex => "-1"}
-#   .modal-dialog{:role => "document"}
-#     .modal-content
-#       .modal-header
-#         %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
-#           %span{"aria-hidden" => "true"} ×
-#         %h4.modal-title{:id => "model-#{table_name}-title"} Modal title
-#       .modal-body
-#         %form{:data => {:remote => true} }
-#           - entry_list.column_names.each do |column_name|
-#             - model_name = entry_list.first.model_name.to_s unless entry_list.blank?
-#             - disabled = !cruds_helper.permit?(model_name, column_name)
-#             - hidden = cruds_helper.hidden?(model_name, column_name)
-#             - form_control_id = "model-#{table_name}-#{column_name}"
-#             - clazz = disabled ? :hide : nil
-#             - unless hidden
-#               .form-group
-#                 - unless disabled
-#                   %label.control-label{:for => form_control_id}
-#                     = "#{column_name}:"
-#                 - case entry_list.cruds_type(column_name)
-#                 - when :enum
-#                   %select.form-control{:id => form_control_id, :disabled => disabled,
-#                   :name => column_name, :class => clazz}
-#                     - entry_list.defined_enums[column_name].each do |k, v|
-#                       %option{:value => k}
-#                         = k
-#                 - when :string
-#                   %input.form-control{:id => form_control_id, :type => "text", :disabled => disabled,
-#                   :name => column_name, :class => clazz}
-#                 - when :text
-#                   %textarea.form-control{:id => form_control_id,
-#                   :name => column_name, :class => clazz}
-#                 - when :datetime, :timestamps
-#                   %input.form-control{:id => form_control_id, :type => "text", :disabled => disabled,
-#                   :name => column_name, :class => clazz}
-#                 - when :date
-#                   %input.datepicker.form-control{:id => form_control_id, :type => "text",
-#                   :name => column_name, :class => clazz}
-#
-#       .modal-footer
-#         %button.btn.btn-default.btn-cancel{"data-dismiss" => "modal", :type => "button"} Cancel
-#         %button.btn.btn-danger.btn-submit{:type => "button", disabled: true} Save
